@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 80%;
  margin: 10px auto;
  background: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
  font-family: Meiryo, 'Hiragino Kaku Gothic Pro W3', Courier New, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}

body {
  background: 0%;
}

@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('~assets/fonts/nicomoji-plus_1.11.ttf') format('truetype');
}
